<div class="contents">
  <div class="products-main">
    <div class="product-index">基本書一覧</div>
      <ul class="products">

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>
        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

      </ul>
    
  </div>






  <div class="products-side-bar">
    <div class="product-index">人気ランキング</div>
      <ul class="products">

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

        <li class="product">
          <div class="product__image">
            <%= image_tag "https://images-na.ssl-images-amazon.com/images/I/41uEJ4y008L._SX350_BO1,204,203,200_.jpg", class: "product__image__size" %>
          </div>
          <div class="product__name">
            本の名前
          </div>
          <div class="product__author">
            本の著者名
          </div>
        </li>

      </ul>
  </div>
</div>

<div class="pagination">
  ページネーション表示
</div>