<!DOCTYPE html>
<html>
  <head>
    <title>StrafrechtReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div id="buttons">
        <ul class="buttons">
          <li class="title__button">
            <a href="/">strafrecht</a>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
